{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/owners.css' %}">

{% endblock %}


{% block content %}

    <!-- Hero -->
    <section class="hero">
        <div class="container">
            <h1>Yaratuvchilar</h1>
            <p>MURA – MU Research Archive ortidagi aqllar - aqlli akademik kelajakni qurishga bag'ishlangan ishtiyoqli
                ishlab chiquvchilar, dizaynerlar va tadqiqotchilar.</p>
        </div>
    </section>

    <!-- Creators Grid -->
    <section class="container my-5">
        <div class="row g- justify-content-center">
            {% for creator in creators %}
                <div class="col-12 mt-3 col-sm-6 col-lg-3 d-flex">
                    <div class="creator-card flex-fill">
                        <img src="{{ creator.image.url }}" alt="Creator" class="creator-img">
                        <h5>{{ creator.name }}</h5>
                        <p class="creator-role">{{ creator.role }}</p>
                        <p class="small text-muted">{{ creator.description }}</p>
                        <div class="social-links">
                            <a href="#"><i class="bi bi-github"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}