{% extends "base.html" %}
{% load static %}

{% block style %}
    <!-- Bootstrap & Font -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'main/css/upload.css' %}">
{% endblock %}

{% block content %}
    <section class="upload-section">
        <div class="container">
            <div class="upload-box">
                <h2>Maqolangizni o‘zgartiring</h2>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Title -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Sarlavha</label>
                        <input value="{{paper.title}}" name="title" type="text" class="form-control" id="title"
                               minlength="1" maxlength="500"
                               placeholder="Masalan: Sun’iy intellekt orqali tibbiy tashxislashning yangi usullari"
                               required>
                        <div class="form-text">Sarlavha 1–500 belgidan iborat bo‘lishi kerak.</div>
                    </div>

                    <!-- Summary -->
                    <div class="mb-3">
                        <label for="summary" class="form-label">Annotatsiya</label>
                        <textarea name="abstract" class="form-control" id="summary" rows="4"
                                  minlength="100" 
                                  placeholder="Masalan: Ushbu tadqiqot sun’iy intellekt asosida tibbiy tasvirlar orqali kasalliklarni erta aniqlash samaradorligini baholaydi..."
                                  required> {{paper.abstract}}</textarea>
                        <div class="form-text">Annotatsiya kamida 100 ta belgidan iborat bo‘lishi kerak.</div>
                    </div>

                    <!-- Intro -->
                    <div class="mb-3">
                        <label for="intro" class="form-label">Asosiy qism</label>
                        <textarea name="intro" class="form-control" id="intro" rows="5"
                                  placeholder="Asosiy qism kamida 100 belgi bo‘lsin..."
                                  minlength="100"  required>{{paper.intro}}</textarea>
                        <div class="form-text">Asosiy qism kamida 100 ta belgidan iborat bo‘lishi kerak.</div>

                    </div>
                    
                    <!-- Keywords -->
                    <div class="mb-3">
                        <label for="keywords" class="form-label">Kalit so‘zlar</label>
                        <input value="{{paper.keywords}}" type="text" name="keywords" class="form-control" id="keywords"
                               placeholder="AI, Machine Learning, Dasturlash, Python"
                                required>
                    </div>

                    <!-- Citations -->
                    <div class="mb-3">
                        <label for="citations" class="form-label">Sitatalar</label>
                        <textarea name="citations" class="form-control" id="citations" rows="4"
                                  placeholder="Sitatalarni kiriting..." required>{{ paper.citations }}</textarea>
                        <div class="form-text">Sitatalar kamida 50 ta belgidan iborat bo‘lishi kerak.</div>
                    </div>


                    <!-- Category -->
                    <div class="mb-3">
                        <label for="category" class="form-label">Kategoriya</label>
                        <select class="form-select" name="category" id="category" required>
                            {% for category in categories %}
                                {% if category == paper.category %}
                                    <option selected value="{{ category.name }}">{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Optional Organization -->
                    <div class="mb-3">
                        <label for="organization" class="form-label">Muassasa va guruhingiz nomi </label>
                        <input value="{{paper.organization}}" type="text" name="organization" id="organization" class="form-control"
                               placeholder="Misol: Millat Umidi, IT-102-Global"
                               minlength="1" maxlength="200" required>
                        <div class="form-text">Tashkilot nomi 1–200 belgidan iborat bo‘lishi kerak.</div>

                    </div>


                    <!-- PDF Upload -->
                    <div class="mb-4">
                        <label for="file" class="form-label">Word fayl yuklash (ixtiyoriy)</label>
                        <input name="file" class="form-control" type="file" id="file" accept=".docx">
                        <div class="form-text">Faqat Word(.docx) fayllar qabul qilinadi.</div>

                    </div>

                    <!-- Agreement -->
                    <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" id="agree" required>
                        <label class="form-check-label" for="agree">
                            Men ushbu maqolaning original ekanligini tasdiqlayman…
                        </label>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-4 py-2">O‘zgartirishni saqlash</button>
                    </div>

                </form>
            </div>
        </div>
    </section>

    <script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                simpleUpload: {
                    uploadUrl: '/upload/',  // your backend endpoint
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }
            })
            .then(editor => {
                console.log('Editor ready', editor);
            })
            .catch(error => console.error(error));
    </script>

    <script>
        ClassicEditor
            .create(document.querySelector('#citations'), {
                toolbar: ['numberedList', 'bulletedList', '|', 'undo', 'redo']
            })
            .then(editor => {
                // 🪄 Automatically enable numbered list mode
                editor.execute('numberedList');

                // Optionally focus immediately
                editor.editing.view.focus();
            })
            .catch(console.error);
    </script>
{% endblock %}
