{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/papers.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/successful-payment.css' %}">

{% endblock %}

{% block content %}
    <section class="payment-success">
        <div class="success-card">
            <div class="success-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.2"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
                </svg>
            </div>

            <h1 class="success-title">Chekingiz qabul qilindi</h1>
            <p class="success-text">
                Admin to‘lovni tekshiradi va maqolangizni tez orada yuklaydi.<br>
            </p>

            <a href="{% url 'main' %}" class="btn-back">Bosh sahifaga qaytish</a>
        </div>
    </section>
{% endblock %}